
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #eff3f7;
    height: 100%;
  }

  /* 배경 담당 */
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #333333;
  }
  
  .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }
  
  .movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
  }
  
  @media screen and (max-width: 1090px) {
    .movies {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .container {
    display: flex; /* flexbox 적용 */
    justify-content: center; /* 수평 중앙 정렬 */ 
    align-items: flex-start; /* 요소들을 상단 정렬 */
  }

  /* .movie {
    margin-left:50px;
  } */

 
  
  .load-more {
    display: grid; /* 그리드 레이아웃 적용 */
    grid-template-columns: 1fr; /* 한 열로 설정 */
    width: 890px; /* 전체 너비 사용 */
    margin: 20px 0; /* 상하 여백 추가 */
    padding: 10px; /* 패딩 추가 */
    justify-items: center; /* 아이템 중앙 정렬 */
  }
  
  .load-more button {
    width: 100%; /* 버튼이 전체 너비 사용 */
    padding: 15px; /* 버튼 패딩 */
    font-size: 16px; /* 버튼 글씨 크기 */
  }
  
  .load-more:hover {
    background-color: #7b777767; /* 호버 시 색상 변화 */
  }
  @media screen and (max-width: 1090px) {
    .load-more {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
 